*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #21222A;
    color: white;
    padding: 1% 3%;
    
}

.logoContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logoContainer span{
font-size: 30px;
color: #00D8FF;
margin-left: 2px;
}

.logo{
    width: 60px;
}

.nav-items{
    list-style-type:none;
    display: flex;
}
.nav p {
    color: #DEEBF8;
    font-size: 25px;
}



.mainContent{
    padding: 6% 8%;
    background-color: #282D35;
    height: 100vh;
    color: white;
    background-image: url('./images/react-background-image.png');
    background-repeat: no-repeat;
    background-position: right 150px;
    background-size: 200px;
    
}

.mainContent ul li{
    margin-top: 20px;
    font-weight: lighter;
    color: white;
    line-height: 30px;
}

.mainContent ul li::marker{
    font-size: 23px;
    color: #61DAFB;
}


.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight:light;
    color: white;
}

