*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 0 3%;

}

.logo{
    width: 60px;
}

.nav-items{
    list-style-type:none;
    display: flex;
}

.nav-items li{
    padding: 0 16px;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight:bold ;
}

.mainContent{
    margin-top: 20px;
    padding: 0 2%;
}

.mainContent ol {
    margin-top: 20px;
}